<!--
<app-toast></app-toast>
-->

<div class="container">
  <div class="col12">
    <app-summary-layout></app-summary-layout>
  </div>

  <div class="card col8 row1">
    <div class="forecast">
      <div>
        <app-cloud-solar-forecast></app-cloud-solar-forecast>
      </div>
      <div>
        <app-wind-forecast></app-wind-forecast>
      </div>
    </div>
  </div>

  <div class="card col4 row1">
    <app-whatuses></app-whatuses>
  </div>
  
  <div class="card col4 row2">
    <app-summary></app-summary>
  </div>

  <div class="card col4 row2">
      <app-cost></app-cost>
  </div>

  <div class="card col4 row1">
    <app-provider></app-provider>
  </div>

  <div class="card col4 row1">
    <app-consumer></app-consumer>
  </div>

</div>
