@import '~@angular/material/theming';

// Define a mixin that accepts a theme and outputs the color styles for the component.
@mixin app-component-theme($theme) {
  // Extract whichever individual palettes you need from the theme.
  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);


  .card-title {
    background-color: mat-color($primary);
    color: mat-color($primary, 100);
  }

  .weatherone {
    color: mat-color($accent, 300);
  }
  .weathertwo {
    color: mat-color($accent, 400);
  }

  .weatherthree {
      color: mat-color($accent, 500);
  }


  .sidenav-header {
    background-color: mat-color($primary);
  }
}
