
<div class="weatherbox">
  <div class="weathersymbol" *ngIf="weatherData">
    <img style="width: 100px; height: 100px;" src="./assets/images/weather/{{ weatherData?.icon }}.png"/>
  </div>
  <div class="weatherdetailbox">
    <div class="weatherdetail">{{ weatherData?.temp.value }}&nbsp;{{ weatherData?.temp.unit }}</div>
    <div class="weatherdetail">{{ weatherData?.description }}</div>
    <div class="weatherdetail">{{ weatherData?.speed.value }}&nbsp;{{ weatherData?.speed.unit }}</div>
    <div class="weatherdetail">{{ weatherData?.direction }}</div>
  </div>
</div>
