
<div class="valign-wrapper">
  <div *ngIf="weatherData">
    <img style="width: 100px; height: 100px;" src="./assets/images/weather/{{ weatherData?.icon }}.png"/>
  </div>
  <div>
    <p class="text large remove-margin">{{ weatherData?.temp.value }}&nbsp;{{ weatherData?.temp.unit }}</p>
    <p class="text remove-margin">{{ weatherData?.description }}</p>
    <p class="text large remove-margin">{{ weatherData?.speed.value }}&nbsp;{{ weatherData?.speed.unit }}</p>
    <p class="text remove-margin">{{ weatherData?.direction }}</p>
  </div>
</div>
